<div class="row" id="display">
  <div *ngFor="let color of colors" class="card" [style.backgroundColor]="'#' + color">
      <div [style.backgroundColor]="'#' + color"></div>
      <div class="container">
          <p class="color-name" [style.color]="color" >{{color}}</p>
      </div>
  </div>
</div>

<div class="row">
<div *ngFor="let color of colors" class="card" [style.backgroundColor]="'#' + color"> 
  <!-- <div [ngStyle]="{background-color: color}"></div> -->
  <div class="card-body" [style.background]="color"> 
    <p [style.color]="color" class="card-text">{{color}}</p>
  </div>
</div>
</div>


